*{
    box-sizing: border-box;
    margin: 0;
}
body{
  

    /* background-color: hsl(0, 0%, 100%); */
    font-family: 'League Spartan', sans-serif;
}
.wrapper{
    position: relative;
    box-sizing: border-box;
    display: flex;
    /* align-items: center;
    justify-content: center; */
    height: 100vh;
   
    flex-wrap: wrap;
    padding-inline: 50px;
    padding-top: 10px;
}
.pattern-top{
    position: absolute;
    height: 300px;
    width: 30%;
    left: 0;
    top: 0;
    z-index: -1;

}
.box{
    height: 300px;
    width: 500px;
    flex-grow: 1;
    margin: 10px;
    /* border: 3px solid red; */
}
.box h1{
    font-family: 'League Spartan', sans-serif;
    font-size:50px ;

}
.flex-container{
    color:  hsl(300, 43%, 22%);
    padding: 50px 0 0 80px;
    /* border: 4px solid red; */
  

 }
 .flex-container p{
     color:  hsl(303, 10%, 53%);
     font-weight: 500;
     font-size: 20px;

 }
 .rating-box{
     /* border: 2px solid blue; */
    padding: 50px 0;
     
 }
 .mini-box{
     height: 50px;
     width: 500px;
     border-radius: 10px;
     padding: 16px 50px;
     background-color: hsl(300, 24%, 96%);
     margin: 10px;
     z-index: 1;
 }
 .checked {
    color: orange;
    margin-right: 3px;
  }
  .mini-one{
      margin-left: 50px;
  }
  .mini-two{
      margin-left: 100px;
  }
  .box-text{
      color: hsl(300, 43%, 22%);
      font-weight: bold;
  }
  .comment-section{
      display: flex;
      width: 100%;
      height: 220px;
      margin-left: 70px;
  }
.comment-box{
    /* padding-inline: 20px; */
    margin: 10px 20px;
    height: 200px;
    width: 350px;
    padding: 30px 30px;
    color:  hsl(0, 0%, 100%);
    background-color: hsl(300, 43%, 22%);
}
.test-1{

    /* height: 200px;
    width: 300px; */
    /* border: 2px solid yellow; */
    border-radius: 10px;
    

}
.test-2{
   
    /* height: 200px;
    width: 300px; */
    /* border: 2px solid blue; */
    border-radius: 10px;
    margin-top: 20px;

}
.test-3{
    
    /* height: 200px;
    width: 300px; */
    /* border: 2px solid red; */
    border-radius: 10px;
    margin-top: 40px;

}
.avatar{
    height: 30px;
    width: 30px;
    border-radius: 100px;
}
.pattern-bottom{
    bottom:0;
    right:0;
    height: 600px;
    width: 80%;
    /* width: inherit; */
    position: absolute;
    z-index: -1;
}

 /* CSS style for mobile */

 @media screen and (max-width:600px){
    .wrapper{
        position: relative;
        box-sizing: border-box;
        height: 100vh;
        width: 100%;
        padding: 0;
       flex-wrap: wrap;
        /* padding-inline: 50px;
        padding-top: 10px; */
        border: 2px solid blue;
    }
    .pattern-top{
        position: absolute;
        height: 350px;
        width: 100%;
        left: 0;
        top: 0;
        z-index: -1;
    
    }
    .pattern-bottom{
        display: none;
    }
    .box h1{
        font-family: 'League Spartan', sans-serif;
        font-size:50px ;
        text-align: center;
        padding:0;
    
    }
    .flex-container p{
        color:  hsl(303, 10%, 53%);
        font-weight: 500;
        font-size: 18px;
        text-align: center;
        max-width: inherit;
        border: 2px solid red;
    }
    .mini-box{
        margin-left: 0;
        height: 80px;
        width: 500px;

    }
    .mini-one {
        margin-left: 0;
    }
    .mini-two{
        margin-left: 0;
    }
    .box-text{
        display: block;
        text-align: center;
    }

 }