body{
    background-color: hsl(0, 0%, 100%);
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}
.wrapper{
    display: flex;
    /* align-items: center;
    justify-content: center; */
    height: 100vh;
   
    border: 5px solid brown;
    flex-wrap: wrap;
    padding-inline: 50px;
    padding-top: 50px;
}
.box{
    height: 300px;
    width: 500px;
    flex-grow: 1;
    margin: 10px;
    border: 3px solid red;
}
.box h1{
    font-family: 'League Spartan', sans-serif;
    font-size:50px ;

}
.flex-container{
    background-color: hsl(0, 0%, 100%);
    color:  hsl(300, 43%, 22%);
    padding: 0;
  

 }
 .flex-container p{
     color:  hsl(303, 10%, 53%);
     font-weight: 500;

 }
.test{
    /* padding-inline: 20px; */
    margin: 50px;
}
.test-1{

    height: 200px;
    width: 300px;
    border: 2px solid yellow;

}
.test-2{
   
    height: 200px;
    width: 300px;
    border: 2px solid blue;
}
.test-3{
    
    height: 200px;
    width: 300px;
    border: 2px solid red;
}